*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

:root{
    --bg-color: #E7E8EC;
    --text-color: #fff;
    --content-text-color: #181818;
    --background-transparency: rgba(24, 24, 24, 0.831);
    --main-color: #812828;
    --hover-color: #EAD24C;
    --none-color: #fff;
    font-size: 62.5%; /* 1rem = 10px | 1.2rem = 12px*/
    scroll-behavior: smooth;
}

::selection{
    background: var(--main-color);
    color: var(--text-color);
}

body{
    height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
    padding-top: 60px;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-track{
    width: 0.5rem;
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    width: 0.5rem;
    background: var(--main-color);
}

header{
    width: 100vw;
    height: 60px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: var(--main-color);
    padding: 2rem 12%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .50s ease;
}

header .logo img{
    height: 5rem;
}

header .navbar{
    display: flex;
}

header .navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0 3rem;
}

header .navbar a:hover{
    color: var(--hover-color);
}

.menu a{
    cursor: pointer;
    padding: .5rem 1rem;
    color: var(--text-color);
    font-size: 1.5rem;
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: var(--text-color);
    font-size: 3rem;
    margin-right: 1rem;
}

.menu a:hover{
    color: var(--hover-color);
}

#menu-icon{
    cursor: pointer;
    padding: .5rem 1rem;
    color: var(--text-color);
    font-size: 3rem;
    border-radius: .5rem;
    display: none;
}

/* CARROUSEL START CONFIG */
.carrousel{
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

.slider{
    overflow: hidden;
  
}

.slides{
    display: flex;
    transition: 5s;
    overflow: hidden;
    position: relative;
}

.slides input{
    display: none;
}

.slide{
    transition: 2s;
}

.slide img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}

.container-msg {
    position: absolute;
    padding-top: 2vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.mensagem {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    overflow-wrap: break-word;
    
}

#texto_mensagem {
    color: white;
    margin: 0;
    font-size: 4rem;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background: var(--main-color);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

#radio4:checked ~ .first{
    margin-left: -300%;
}








/* main é daqui para baixo*/

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}





main h1 {
    font-size: 1.5em;
    font-weight: 600;
    /* margin: 2rem 0 0.5rem 0; */
    text-align: left;
}

#texto_sobre, #texto_noticias, #texto_projetos, p { 
    text-align: justify;

}


footer {

    background-color: #812828;
    color: white;
    text-align: center;
    padding: 3em;
    margin-top: 2em;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(255, 255, 255);

}

footer div {
    margin: 5px;
}

footer div p {
    text-align: center;
}

.instagram_data a {
    color: rgb(255, 255, 255);
}

.instagram_data a:hover {
    color: rgb(180, 180, 180);
}






/* ====== Media Querys ========= */



/*Telas HD*/
@media (max-width: 1280px){
    html{
        font-size: 55%;

    }
}

/* Telas resolução média */
@media (max-width: 788px){
    
    .menu {
        display: block;
    }

    header {
        padding: 2rem 3%;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--main-color);
        text-align: center;
        padding: 2rem 0;
        border-top: .1rem solid #581a1a;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;

        
    }

    .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;

    }

    .navbar a {
        display: block;
        margin: 1rem 0;
        padding: 1rem 0;
        font-size: 2.5rem;
    }

}

/* Tablets */
@media (max-width: 1025px){

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--main-color);
        text-align: center;
        padding: 2rem 0;
        border-top: .1rem solid #581a1a;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;

        
    }

    .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;

    }
    .navbar {
        flex-direction: column;
    }

    .menu a {
        display: none;
    }
    #menu-icon{
        display: block;
    }
}

/* Telas resolução pequena */
@media (max-width: 500px){
    html{
        font-size: 50%;
    }
    .navbar {
        flex-direction: column;
    }
    .menu a {
        display: none;
    }
    #menu-icon{
        display: block;
    }
}


@media (min-width: 1280px){
    .container-grid {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;     
        grid-template-areas:
          "info cnpj email telefone endereco instagram"
          "info cnpj_data email_data telefone_data endereco_data instagram_data";
      }
      
      .cnpj { grid-area: cnpj; }
      
      .email { grid-area: email; }
      
      .telefone { grid-area: telefone; }
      
      .endereco { grid-area: endereco; }
      
      .instagram { grid-area: instagram; }
      
      .info { grid-area: info; }
      
      .cnpj_data { grid-area: cnpj_data; }
      
      .email_data { grid-area: email_data; }
      
      .telefone_data { grid-area: telefone_data; }
      
      .endereco_data { grid-area: endereco_data; }
      
      .instagram_data { grid-area: instagram_data; }

    .container-grid div p {
        text-align: center;
    }
} 

@media (max-width: 1280px){
    .mensagem {
        height: 30%;
    }

    #texto_mensagem {
        font-size: 3.5rem;
    }
}

@media (max-width: 788px){
    .mensagem {
        height: 30%;
    }

    #texto_mensagem {
        font-size: 2.5rem;
    }
}


@media (max-width: 500px){
    .mensagem {
        height: 30%;
    }

    #texto_mensagem {
        font-size: 2.5rem;
    }
}

/* @media das alturas */
@media (min-height: 500px){
    .mensagem {
        height: 30%;
    }

    #texto_mensagem {
        font-size: 2rem;
    }
}

@media (min-height: 788px){
    .mensagem {
        height: 40%;
    }

    #texto_mensagem {
        font-size: 3rem;
    }
}

@media (min-height: 850px){
    .mensagem {
        height: 20%;
    }

    #texto_mensagem {
        font-size: 2.5rem;
    }
}

