*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

:root{
    --bg-color: #E7E8EC;
    --text-color: #fff;
    --content-text-color: #181818;
    --background-transparency: rgba(24, 24, 24, 0.831);
    --main-color: #812828;
    --hover-color: #EAD24C;
    --none-color: #fff;
    font-size: 62.5%; /* 1rem = 10px | 1.2rem = 12px*/
    scroll-behavior: smooth;
}

::selection{
    background: var(--main-color);
    color: var(--text-color);
}

body{
    height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-track{
    width: 0.5rem;
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    width: 0.5rem;
    background: var(--main-color);
}

header{
    width: 100vw;
    height: 60px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: var(--main-color);
    padding: 2rem 12%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .50s ease;
}

/* header .logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
} */

header .logo img{
    height: 5rem;
}

header .navbar{
    display: flex;
}

header .navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0 3rem;
    /* transition: all .50s ease; */
}

header .navbar a:hover{
    color: var(--hover-color);
}

/* header .navbar a.active{
    color: var(--hover-color);
} */

/* .menu{
    display: flex;
    align-items: center;
    
}*/

.menu a{
    cursor: pointer;
    padding: .5rem 1rem;
    color: var(--text-color);
    font-size: 1.5rem;
    /* transition: all .50s ease; */
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: var(--text-color);
    font-size: 3rem;
    margin-right: 1rem;
}

.menu a:hover{
    color: var(--hover-color);
}

#menu-icon{
    cursor: pointer;
    padding: .5rem 1rem;
    color: var(--text-color);
    font-size: 3rem;
    border-radius: .5rem;
    display: none;
}


.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
}

.box1, .box2, .box3 {
    display: block;
    color: var(--content-text-color);
    width: 70%;
    max-width: 1920px;
    margin-bottom: 2em;
}

.mensagem{
    display: inline-block;
    /* flex-direction: column; */
    flex-wrap: wrap;
    position: absolute;
    width: 50vw;
    padding: 5%;
    background-color: var(--background-transparency);
    top: 45%; left: 5%;
    
}

.bsc-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 145px;
}

.bsc-box div {
    margin-top: -100px;
}


.missao, .princ_eventos, .doe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    
}


.missao {
    /* background-color: var(--main-color); */
    /* background-image: linear-gradient(180deg, #812828, var(--background-transparency)); */
    /* background-color: rgb(44, 90, 44); */
    background-color: #812828;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.princ_eventos {
    /* background-color: var(--hover-color); */
    background-color: rgb(39, 39, 114);

    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.doe {
    /* background-color: rgb(39, 39, 114); */
    background-color: var(--hover-color);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

main h1 {
    font-size: 1.5em;
    font-weight: 600;
    /* margin: 2rem 0 0.5rem 0; */
    text-align: left;
}

#texto_sobre, #texto_noticias, #texto_projetos, p { 
    text-align: justify;

}


footer {

    background-color: #812828;
    color: white;
    text-align: center;
    padding: 3em;
    margin-top: 2em;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(255, 255, 255);

}

footer div {
    margin: 5px;
}

footer div p {
    text-align: center;
}


@media (min-width: 1280px){
    .container-grid {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;     
        grid-template-areas:
          "info cnpj email telefone endereco instagram"
          "info cnpj_data email_data telefone_data endereco_data instagram_data";
      }
      
      .cnpj { grid-area: cnpj; }
      
      .email { grid-area: email; }
      
      .telefone { grid-area: telefone; }
      
      .endereco { grid-area: endereco; }
      
      .instagram { grid-area: instagram; }
      
      .info { grid-area: info; }
      
      .cnpj_data { grid-area: cnpj_data; }
      
      .email_data { grid-area: email_data; }
      
      .telefone_data { grid-area: telefone_data; }
      
      .endereco_data { grid-area: endereco_data; }
      
      .instagram_data { grid-area: instagram_data; }

    .container-grid div p {
        text-align: center;
    }
} 

.instagram_data a {
    color: rgb(255, 255, 255);
}

.instagram_data a:hover {
    color: rgb(180, 180, 180);
}



/* CARROUSEL START CONFIG */
#carrousel{
    height: 91vh;
    display: flex;
}

.slider{
    overflow: hidden;
    
}

.slides{
    width: 500%;
    display: flex;
    transition: 5s;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    margin: 0;
    margin-top: 60px;
    width: 100vw;
    /* min-width: 500px; */
    height: 100vh;
    object-fit: cover;
    
}

/*MANUAL NAVIGATION*/
/* .navigation-manual{
    position: absolute;
    width: 100vw;
    margin-top: -210px;
    display: flex;
    justify-content: center;
}


@media (max-width: 900px){
    .navigation-manual{
        margin-top: -100px;
        
    }
}

.manual-btn{
    border: 2px solid var(--main-color);
    background: #812828;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
} */

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background: var(--main-color);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*AUTOMATIC NAVIGATION*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 47.4vh;
    display: none;
    
}

.navigation-auto div{
    border: 2px solid var(--main-color);
    padding: 5px;
    transition: 1s;
    border-radius: 10px;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--main-color);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--main-color);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--main-color);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--main-color);
}


/* ====== Media Querys ========= */



/*Telas HD*/
@media (max-width: 1280px){
    html{
        font-size: 55%;

    }

    .mensagem{
        top: 25%; left: 2%;
    }
    .bsc-box {
        height: 100px;
    }
    
    .bsc-box div {
        margin-top: -70px;
    }
    
    
    .missao, .princ_eventos, .doe {
        padding: 20px;
        font-size: 80%;
    }
}

/* Telas resolução média */
@media (max-width: 788px){
    
    .menu {
        display: block;
    }

    header {
        padding: 2rem 3%;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--main-color);
        text-align: center;
        padding: 2rem 0;
        border-top: .1rem solid #581a1a;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;

        
    }

    .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;

    }

    .navbar a {
        display: block;
        margin: 1rem 0;
        padding: 1rem 0;
        font-size: 2.5rem;
    }

    .mensagem{
        top: 35%; left: 2%;
        padding: 3%;
    }

}

/* Tablets */
@media (max-width: 1025px){

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--main-color);
        text-align: center;
        padding: 2rem 0;
        border-top: .1rem solid #581a1a;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;

        
    }

    .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;

    }
    .navbar {
        flex-direction: column;
    }

    .menu a {
        display: none;
    }
    #menu-icon{
        display: block;
    }
    #carrousel{
        max-height: 500px;
    }
    .slide img{
        max-height: 500px;
    }
    .bsc-box {
        flex-flow: column wrap;
        align-items: center;
        height: 100%;
        
    }

    .bsc-box div {
        margin: 0;
        height: 80px;
    }

    .mensagem{
        top: 15%;
        padding: 3%;
    }
}

/* Telas resolução pequena */
@media (max-width: 500px){
    html{
        font-size: 50%;
    }
    .navbar {
        flex-direction: column;
    }
    .menu a {
        display: none;
    }
    #menu-icon{
        display: block;
    }
    #carrousel{
        max-height: 500px;
    }
    .slide img{
        max-height: 500px;
    }
    .bsc-box {
        flex-flow: column wrap;
        align-items: center;
        height: 100%;
        
    }

    .bsc-box div {
        margin: 0;
        height: 80px;
    }

    .mensagem{
        top: 15%;
        padding: 3%;
    }
}


@media (max-width: 1280px){
    .mensagem{
        margin-top: 5em;
        margin: 15% 0 0 5%;

        
    }

    .mensagem h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 400px){
    .mensagem{
        margin-top: 5em;
        margin: 25% 0 0 5%;
        width: 80vw;
        font-size: 1.5rem;
    }

    .mensagem h1 {
        font-size: 2.5rem;
    }
}

/* Controles de altura para as telas */
@media (max-height: 500px){
    .body {
        height: 100vh;
    }
    .mensagem{
        margin-top: 5em;
        margin: 15% 0 0 5%;
        width: 80vw;
        font-size: 1.5rem;
    }

    .mensagem h1 {
        font-size: 2.5rem;
    }
}

@media (max-height: 768px){

    .body {
        height: 100vh;
    }
    .mensagem{
        margin-top: 5em;
        margin: 15% 0 0 5%;
        width: 80vw;
        font-size: 1.5rem;
    }

    .mensagem h1 {
        font-size: 2.5rem;
    }
}

@media (max-height: 900px){

    .body {
        height: 100vh;
    }
    .mensagem{
        margin-top: 5em;
        margin: 15% 0 0 5%;
        width: 70vw;
    }

    .mensagem h1 {
        font-size: 2rem;
    }

    .missao, .princ_eventos, .doe{
        font-size: 70%;
    }
}